* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  border: 1px solid greenyellow;
}
body {
  display: flex;
  flex-direction: column;
}

.card {
  border: 4px solid #3882f6;
  border-radius: 15px;

  height: 150px;
}

.citate-section {
  background-color: #e5e7eb;
  padding-inline: 15%;
  padding-block: 120px;
}

.citate {
  font-size: 36px;
  color: #1f2937;
  font-weight: 100;
  font-style: italic;
}

.author {
  font-weight: 800;
  font-size: 24px;
  text-align: right;
}

.info-header {
  font-size: 36px;
  font-weight: 900;
  margin-block: 50px;
}

.info-card {
  color: #1f2937;
  width: 150px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.info-section {
  text-align: center;
}

.info-cards {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 100px;
}
.head-section {
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-inline: 10%;
  width: 100vw;
}
.navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 130px;
}
.hero-title {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}
.hero {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-bottom: 80px;
}
.header-nav a {
  color: inherit;
  text-decoration: none;
}

.header-nav {
  display: flex;
  gap: 24px;
}
.header-nav li {
  list-style: none;
}
.header-nav,
.hero-content {
  font-size: 18px;
  color: #e5e7eb;
}

.header-logo,
.hero-button {
  font-size: 24px;
  color: #f9faf8;
}

.header-logo {
  font-weight: 900;
}
.hero-button {
  font-size: 18px;
  background-color: #3882f6;
  font-weight: 700;
  border-radius: 10px;
  padding: 8px 24px;
  border: 0;

  margin-right: auto;
}
.hero-image {
  flex-grow: 0;
  flex-shrink: 0;
}

.hero-left {
  display: flex;
  flex-direction: column;
  gap: 14px;
  justify-content: space-between;
}
